.cardDiv{
    width: 1000px;
    margin-left: 50px;
    height: auto;
}

.cardHeader{
    margin-top: 5px;
}

.CreateFrom{
    width: 600px;
    margin-left: 200px;
}

.EditFrom{
    width: 700px;
    height: auto;
}

.editComponent{
    margin-top: 10px;
    margin-left: 180px;
}

.MarksCard{
     width: 700px;
     height: auto;
     margin-left: 200px;
 }

.marksViewTable{
    width: 500px;
    margin-left: 80px;
}




